USE [Haier_NOIDA]
GO
/****** Object:  Table [dbo].[IMOS_TA_Bin]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMOS_TA_Bin](
	[Bin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[Bin_No] [int] NULL,
	[Material_Code] [varchar](50) NULL,
	[Material_Name] [varchar](50) NULL,
	[Qty] [int] NULL,
	[Actual_Qty] [int] NULL,
	[In_Time] [datetime] NULL,
	[Operator_Code] [varchar](50) NULL,
	[Operator_Name] [varchar](50) NULL,
	[Use_Flag] [int] NULL,
	[Remark] [varchar](200) NULL,
 CONSTRAINT [PK_IMOS_TA_BIN] PRIMARY KEY CLUSTERED 
(
	[Bin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMOS_TA_Energy_List]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMOS_TA_Energy_List](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[Bin_No] [varchar](50) NULL,
	[Energy_Label_Code] [varchar](50) NULL,
	[Energy_Label_Name] [varchar](50) NULL,
	[Material_Actual_Qty] [int] NULL,
	[Material_Theory_Qty] [int] NULL,
	[Material_Image] [text] NULL,
	[Energy_Label_Image] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMOS_TA_Material]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMOS_TA_Material](
	[Material_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[Material_Code] [varchar](50) NULL,
	[Material_Name] [varchar](100) NULL,
	[Material_Type_Code] [varchar](10) NULL,
	[Material_Type_Name] [varchar](50) NULL,
	[Material_Spec] [varchar](50) NULL,
	[Material_Unit] [varchar](10) NULL,
	[Material_Image] [text] NULL,
	[Property1] [varchar](50) NULL,
	[Property2] [varchar](50) NULL,
	[Foaming_Index] [int] NULL,
	[Remark] [varchar](200) NULL,
	[Use_Flag] [char](1) NULL,
	[Delete_Flag] [char](1) NULL,
	[Memo] [varchar](200) NULL,
	[Creation_Date] [datetime] NULL,
	[Created_By] [int] NULL,
	[Last_Update_Date] [datetime] NULL,
	[Last_Updated_By] [int] NULL,
	[Energy_Label_Code] [varchar](50) NULL,
	[Energy_Label_Name] [varchar](50) NULL,
 CONSTRAINT [PK_IMOS_TA_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[Material_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_BaseMenu]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_BaseMenu](
	[Menu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[Menu_Code] [varchar](50) NULL,
	[Menu_Name] [varchar](50) NULL,
	[Menu_Sort] [int] NULL,
	[Remark] [varchar](200) NULL,
	[Creation_Date] [datetime] NULL,
	[Created_By] [int] NULL,
	[Last_Update_Date] [datetime] NULL,
	[Last_Updated_By] [int] NULL,
 CONSTRAINT [PK_Sys_MenuParent] PRIMARY KEY CLUSTERED 
(
	[Menu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_BaseModule]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_BaseModule](
	[Module_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[Menu_Code] [varchar](50) NULL,
	[Menu_Name] [varchar](50) NULL,
	[Module_Code] [varchar](50) NULL,
	[Module_Name] [varchar](50) NULL,
	[Module_Source] [varchar](50) NULL,
	[Module_Form] [varchar](50) NULL,
	[Module_Sort] [int] NULL,
	[Remark] [varchar](200) NULL,
	[Creation_Date] [datetime] NULL,
	[Created_By] [int] NULL,
	[Last_Update_Date] [datetime] NULL,
	[Last_Updated_By] [int] NULL,
 CONSTRAINT [PK_Sys_Menu] PRIMARY KEY CLUSTERED 
(
	[Module_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_BaseUser]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_BaseUser](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[User_Code] [varchar](20) NULL,
	[User_Name] [varchar](32) NULL,
	[User_PassWord] [varchar](50) NULL,
	[Dept_Code] [varchar](50) NULL,
	[Dept_Name] [varchar](50) NULL,
	[Process_Code] [varchar](50) NULL,
	[Process_Name] [varchar](50) NULL,
	[User_TelNo] [varchar](50) NULL,
	[User_EMail] [varchar](50) NULL,
	[User_Image] [text] NULL,
	[User_CardImage] [text] NULL,
	[Remark] [varchar](200) NULL,
	[Creation_Date] [datetime] NULL,
	[Created_By] [int] NULL,
	[Last_Update_Date] [datetime] NULL,
	[Last_Updated_By] [int] NULL,
 CONSTRAINT [PK_Sys_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_BaseUserAuthority]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_BaseUserAuthority](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[User_ID] [int] NULL,
	[Menu_Code] [varchar](50) NULL,
	[Menu_Name] [varchar](50) NULL,
	[Module_Code] [varchar](50) NULL,
	[Module_Name] [varchar](50) NULL,
	[Use_Flag] [int] NULL,
	[Add_Flag] [int] NULL,
	[Edit_Flag] [int] NULL,
	[Delete_Flag] [int] NULL,
	[Save_Flag] [int] NULL,
	[Export_Flag] [int] NULL,
	[Import_Flag] [int] NULL,
	[Verify_Flag] [int] NULL,
	[Attach_Flag1] [int] NULL,
	[Attach_Flag2] [int] NULL,
	[Attach_Flag3] [int] NULL,
	[Attach_Flag4] [int] NULL,
	[Attach_Flag5] [int] NULL,
	[Creation_Date] [datetime] NULL,
	[Created_By] [int] NULL,
	[Last_Update_Date] [datetime] NULL,
	[Last_Updated_By] [int] NULL,
 CONSTRAINT [PK_Base_UserAuthority] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Parameters_Detail]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Parameters_Detail](
	[Parameter_Detail_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[Parameter_Master_Code] [varchar](50) NULL,
	[Parameter_Master_Name] [varchar](50) NULL,
	[Parameter_Detail_Code] [varchar](50) NULL,
	[Parameter_Detail_Name] [varchar](50) NULL,
	[Remark] [varchar](200) NULL,
	[Creation_Date] [datetime] NULL,
	[Created_By] [int] NULL,
	[Last_Update_Date] [datetime] NULL,
	[Last_Updated_By] [int] NULL,
 CONSTRAINT [PK_SYS_PARAMETERS_DETAIL] PRIMARY KEY CLUSTERED 
(
	[Parameter_Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Parameters_Master]    Script Date: 2019/12/4 8:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Parameters_Master](
	[Parameter_Master_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [varchar](50) NULL,
	[Company_Name] [varchar](50) NULL,
	[Factory_Code] [varchar](50) NULL,
	[Factory_Name] [varchar](50) NULL,
	[Product_Line_Code] [varchar](50) NULL,
	[Product_Line_Name] [varchar](50) NULL,
	[Parameter_Master_Code] [varchar](50) NULL,
	[Parameter_Master_Name] [varchar](50) NULL,
	[Remark] [varchar](200) NULL,
	[Creation_Date] [datetime] NULL,
	[Created_By] [int] NULL,
	[Last_Update_Date] [datetime] NULL,
	[Last_Updated_By] [int] NULL,
 CONSTRAINT [PK_SYS_PARAMETERS_MASTER] PRIMARY KEY CLUSTERED 
(
	[Parameter_Master_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[IMOS_TA_Energy_List] ON 

SET IDENTITY_INSERT [dbo].[IMOS_TA_Energy_List] OFF
SET IDENTITY_INSERT [dbo].[IMOS_TA_Material] ON 

SET IDENTITY_INSERT [dbo].[IMOS_TA_Material] OFF
SET IDENTITY_INSERT [dbo].[Sys_Parameters_Detail] ON 

INSERT [dbo].[Sys_Parameters_Detail] ([Parameter_Detail_ID], [Company_Code], [Company_Name], [Factory_Code], [Factory_Name], [Product_Line_Code], [Product_Line_Name], [Parameter_Master_Code], [Parameter_Master_Name], [Parameter_Detail_Code], [Parameter_Detail_Name], [Remark], [Creation_Date], [Created_By], [Last_Update_Date], [Last_Updated_By]) VALUES (2, N'C001', N'海尔集团', N'F001', N'黄岛海尔工业园中二', N'L001', N'中二门壳输送线', N'P001', N'物料类型', N'MN001', N'成品', N'1111', CAST(0x0000AB150100BF0F AS DateTime), 1, CAST(0x0000AB150100BF0F AS DateTime), 1)
INSERT [dbo].[Sys_Parameters_Detail] ([Parameter_Detail_ID], [Company_Code], [Company_Name], [Factory_Code], [Factory_Name], [Product_Line_Code], [Product_Line_Name], [Parameter_Master_Code], [Parameter_Master_Name], [Parameter_Detail_Code], [Parameter_Detail_Name], [Remark], [Creation_Date], [Created_By], [Last_Update_Date], [Last_Updated_By]) VALUES (3, N'C001', N'海尔集团', N'F001', N'黄岛海尔工业园中二', N'L001', N'中二门壳输送线', N'P002', N'单位', N'UN001', N'KG', N'', CAST(0x0000AB1501022139 AS DateTime), 1, CAST(0x0000AB1501022139 AS DateTime), 1)
INSERT [dbo].[Sys_Parameters_Detail] ([Parameter_Detail_ID], [Company_Code], [Company_Name], [Factory_Code], [Factory_Name], [Product_Line_Code], [Product_Line_Name], [Parameter_Master_Code], [Parameter_Master_Name], [Parameter_Detail_Code], [Parameter_Detail_Name], [Remark], [Creation_Date], [Created_By], [Last_Update_Date], [Last_Updated_By]) VALUES (4, N'C001', N'海尔集团', N'F001', N'黄岛海尔工业园中二', N'L001', N'中二门壳输送线', N'P003', N'能效贴类型', N'E001', N'NXT001', N'', CAST(0x0000AB15011002C6 AS DateTime), 1, CAST(0x0000AB15011002C6 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Sys_Parameters_Detail] OFF
SET IDENTITY_INSERT [dbo].[Sys_Parameters_Master] ON 

INSERT [dbo].[Sys_Parameters_Master] ([Parameter_Master_ID], [Company_Code], [Company_Name], [Factory_Code], [Factory_Name], [Product_Line_Code], [Product_Line_Name], [Parameter_Master_Code], [Parameter_Master_Name], [Remark], [Creation_Date], [Created_By], [Last_Update_Date], [Last_Updated_By]) VALUES (1, N'C001', N'海尔集团', N'F001', N'黄岛海尔工业园中二', N'L001', N'中二门壳输送线', N'P001', N'物料类型', N'', CAST(0x0000AB1500FC6169 AS DateTime), 0, CAST(0x0000AB15010183BA AS DateTime), 0)
INSERT [dbo].[Sys_Parameters_Master] ([Parameter_Master_ID], [Company_Code], [Company_Name], [Factory_Code], [Factory_Name], [Product_Line_Code], [Product_Line_Name], [Parameter_Master_Code], [Parameter_Master_Name], [Remark], [Creation_Date], [Created_By], [Last_Update_Date], [Last_Updated_By]) VALUES (2, N'C001', N'海尔集团', N'F001', N'黄岛海尔工业园中二', N'L001', N'中二门壳输送线', N'P002', N'单位', N'', CAST(0x0000AB150101728F AS DateTime), 0, CAST(0x0000AB150101728F AS DateTime), 0)
INSERT [dbo].[Sys_Parameters_Master] ([Parameter_Master_ID], [Company_Code], [Company_Name], [Factory_Code], [Factory_Name], [Product_Line_Code], [Product_Line_Name], [Parameter_Master_Code], [Parameter_Master_Name], [Remark], [Creation_Date], [Created_By], [Last_Update_Date], [Last_Updated_By]) VALUES (3, N'C001', N'海尔集团', N'F001', N'黄岛海尔工业园中二', N'L001', N'中二门壳输送线', N'P003', N'能效贴类型', N'', CAST(0x0000AB150101AD64 AS DateTime), 0, CAST(0x0000AB150101AD64 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Sys_Parameters_Master] OFF
ALTER TABLE [dbo].[IMOS_TA_Material] ADD  CONSTRAINT [DF_IMOS_TA_Material_Foaming_Index]  DEFAULT ((0)) FOR [Foaming_Index]
GO
ALTER TABLE [dbo].[IMOS_TA_Material] ADD  CONSTRAINT [DF__IMOS_TA_M__Use_F__1CF15040]  DEFAULT ('1') FOR [Use_Flag]
GO
ALTER TABLE [dbo].[IMOS_TA_Material] ADD  CONSTRAINT [DF__IMOS_TA_M__Delet__1DE57479]  DEFAULT ('0') FOR [Delete_Flag]
GO
ALTER TABLE [dbo].[Sys_BaseMenu] ADD  CONSTRAINT [DF__Sys_BaseM__Creat__7F60ED59]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Sys_BaseMenu] ADD  CONSTRAINT [DF__Sys_BaseM__Last___00551192]  DEFAULT (getdate()) FOR [Last_Update_Date]
GO
ALTER TABLE [dbo].[sys_BaseModule] ADD  CONSTRAINT [DF__sys_BaseM__Creat__03317E3D]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[sys_BaseModule] ADD  CONSTRAINT [DF__sys_BaseM__Last___0425A276]  DEFAULT (getdate()) FOR [Last_Update_Date]
GO
ALTER TABLE [dbo].[Sys_BaseUser] ADD  CONSTRAINT [DF__Sys_BaseU__Creat__0C719B0B]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Sys_BaseUser] ADD  CONSTRAINT [DF__Sys_BaseU__Last___0D65BF44]  DEFAULT (getdate()) FOR [Last_Update_Date]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF_Sys_UserAuthority_Use_Flag]  DEFAULT ((0)) FOR [Use_Flag]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF_Sys_UserAuthority_Add_Flag]  DEFAULT ((0)) FOR [Add_Flag]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF_Sys_UserAuthority_Edit_Flag]  DEFAULT ((0)) FOR [Edit_Flag]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF_Sys_UserAuthority_Delete_Flag]  DEFAULT ((0)) FOR [Delete_Flag]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF_Sys_UserAuthority_Save_Flag]  DEFAULT ((0)) FOR [Save_Flag]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF_Sys_UserAuthority_Export_Flag]  DEFAULT ((0)) FOR [Export_Flag]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF_Sys_UserAuthority_Import_Flag]  DEFAULT ((0)) FOR [Import_Flag]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF__Sys_BaseU__Creat__71BDA4CF]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Sys_BaseUserAuthority] ADD  CONSTRAINT [DF__Sys_BaseU__Last___72B1C908]  DEFAULT (getdate()) FOR [Last_Update_Date]
GO
ALTER TABLE [dbo].[Sys_Parameters_Detail] ADD  CONSTRAINT [DF__Sys_Param__Creat__5150D53D]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Sys_Parameters_Detail] ADD  CONSTRAINT [DF__Sys_Param__Last___5244F976]  DEFAULT (getdate()) FOR [Last_Update_Date]
GO
ALTER TABLE [dbo].[Sys_Parameters_Master] ADD  CONSTRAINT [DF__Sys_Param__Creat__1920BF5C]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Sys_Parameters_Master] ADD  CONSTRAINT [DF__Sys_Param__Last___1A14E395]  DEFAULT (getdate()) FOR [Last_Update_Date]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'物料对应表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMOS_TA_Bin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'物料表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IMOS_TA_Material'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统菜单表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_BaseMenu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统模块表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_BaseModule'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_BaseUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统参数表(从表)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Parameters_Detail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统参数表(主表)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Parameters_Master'
GO
